<div class="principal">
  <div class="valor">
    {{num}}
  </div>
  <button class="green" (click)="suma()">+</button>
  <button class="red" (click)="resta()">-</button>
</div>

<div class="mensaje">
  {{mensaje}}
</div>