.principal {
  width: 160px;
  margin: 20px auto;
}

.principal .valor {
  font-size: 60px;
  text-align: center;
  box-sizing: border-box;
  width: 100px;
  height: 100%;
  border: 1px black solid;
  float: left;
}

.principal button {
  padding: 6px 15px;
  margin: 2px 0px;
  margin-left: 10px;
}

.principal .red {
  background-color: red;
  color: white;
}

.principal .red:hover {
  background-color: white;
  color: red;
}

.principal .green {
  background-color: green;
  color: white;
}

.principal .green:hover {
  background-color: white;
  color: green;
}

.mensaje{
  display: flex;
  justify-content: space-around;
}